body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    height: 80rem;
}

h1 {
    font-size: 3rem;
    display: flex;
    text-align: center;
    justify-content: center;
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h3 {
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.producto {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}

.producto img {
    max-width: 100%;
    height: auto;
}

.producto-info {
    text-align: center;
}

.nombre-producto {
    font-size: 18px;
    margin: 10px 0;
}

.precio-producto {
    color: #e44d26;
    font-size: 16px;
    font-weight: bold;
}

.info-adicional {
    color: #666;
    font-size: 14px;
}

img {
    height: 250px;
    width: 250px;
    display: flex;
    margin: 0 auto;
}