
#Calculadora {
    border: 5px solid black;
    margin: 0 auto;
    display: grid;
    background-color: rgb(145, 145, 145);
    width: 400px;
    height: 400px;
    justify-content: space-around;
    align-content: space-around;
    align-items: start;
    justify-items: center;
}

.input {
    margin: 10px;
    gap: 10px;
}

#Pantallas {
    gap: 10px;
}